@mixin fadeIn ($duration, $delay, $name){
    .fade-in {
        translate: translateY(2px);
        animation-name: $name;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-delay: $delay;
        animation-timing-function: ease-in;
        animation-duration: $duration;
    }
    @keyframes #{$name}{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
}
